.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
}
.whole-card{
  border: lightgrey solid 2px;
  border-radius: 5px;
  height: 300px;
  width: 400px;
  font-size: 12px;
  overflow: hidden;
}
.whole-card a{
  text-decoration: none;
  color: black;
}
.card-img{
  height: 200px;
}
.cards-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.comics-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.comic-card{
  width: 250px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px auto;
  border: lightgrey 2px solid;
}
.comic-card img{
  height: 180px;
}
.comic-modal{
  z-index: 10;
  width: 80%;
  height: 70%;
  background: lightgray;
  position: fixed;
  right: 10%;
  top: 15%;
  border-radius: 10px;
  display: flex;
  padding: 15px;
}
.comic-modal img{
  width: 250px; 
}
.comic-modal button{
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgb(185, 23, 23);
  width: 25px;
  height: 25px;
}
